.header {
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.content {
  margin: 2rem;
}
