.sidebar {
  background-color: red;
  flex-basis: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  width: 100%;
}

.main {
  margin: 4rem 1rem;
}

.footer {
  margin: auto 0;
  margin-bottom: 0;
  background-color: blue;
}
